#clients {
	flex-wrap: wrap;
	flex-direction: column;
	align-content: flex-start;
	justify-content: flex-start;

	overflow-x: auto;
	overflow-y: hidden;
	background-image: url('city.png');
	background-size: cover;
}

#clients > img {
	width: 60vh;
	height: 35vh;
	min-width: 200px;
	object-fit: contain;
	padding: 4vh;
	box-sizing: border-box;

	margin: 5vh 10vh;
	line-height: 30vh;
	text-align: center;
	background-color: #FFF;
	border: 0.9vh solid  #888;
	box-shadow: 0 0 8px #555;
}

#clients h1 {
	color: #fff;
	bottom: 0;
	left: 10vh;
}