@import url('./fonts/fonts.css');
@import url('splash.css');
@import url('portfolio.css');
@import url('clients.css');
@import url('contacts.css');

@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i|Roboto:400,500,700&subset=cyrillic,cyrillic-ext,latin-ext');

html, body {
	margin: 0px; padding: 0px;
	height: 100%;
	font-size: 16px;
	font-family: 'PT Serif', serif;
}

header, section {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

section:nth-child(2n) {
	background-color: #DDD;
}

a {
	color: inherit;
	text-decoration: none;
}

.appear {
	display: none;
}

.number {
	font-size: smaller;
	letter-spacing: -3px;
}