#splash {
	background-image: url('pattern.png');
	background-position: center;
	background-size: cover;
	flex-wrap: wrap;	
}

#splash p {
	color: #AD1E23;
	display: block;
	margin: 0px;
	width: 350px;

	font-weight: bold;
	font-size: 36pt;
	line-height: 33px;
	font-family: 'Roboto', sans-serif;

	letter-spacing: -5px;
	text-transform: lowercase;
	text-shadow: 1px 0px 5px #555;
	text-align: left;
}

#splash .logo {
	width: 30%;
	min-width: 5cm;
}

#splash .brief {
	color: #AD1E23;
	margin-bottom: 1em;
}

#splash address p {
	font-style: normal;
	color: #fff;
	position: relative;
}

@media screen and (orientation: portrait) {
	#splash {
		flex-direction: column;
		flex-wrap: none;
	}

	#splash .logo {
		width: 40%;
	}

	#splash > div {
		margin-top: 2em;
	}

	#splash p {
		text-align: center;
	}
}