#splash {
	background-image: url('pattern.png');
	background-position: center;
	background-size: cover;
	flex-wrap: wrap;	
}

#splash p {
	color: #AD1E23;
	display: block;
	margin: 0px;
	width: 350px;

	font: bold 36pt/33px 'Roboto', sans-serif;
	letter-spacing: -5px;
	text-transform: lowercase;
	text-shadow: 1px 0px 5px #555;
	text-align: center;
}

#splash .logo {
	width: 30%;
	min-width: 5cm;
}

#splash .brief {
	color: #AD1E23;
}

#splash address p {
	color: #fff;
	position: relative;
}

@media screen and (orientation: portrait) {
	#splash {
		flex-direction: column;
		flex-wrap: none;
	}

	#splash .logo {
		width: 50%;
	}

	#splash > div {
		margin-top: -70px;
	}

	#splash p {
		text-align: center;
	}
}